:root {
  --primary-color: #006633; /* Green */
  --secondary-color: #ffffff; /* White */
  --accent-color: #888888; /* Grey */
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}
